@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

/* native color input chrome cleanup */
input[type='color'] {
  padding: 0;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 2px;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 2px;
}
